.social-icons {
  color: #313437;
  text-align: center;
  padding: 70px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding: 50px 0;
    background: rgba(23,162,184,0.54);
  }
}

.social-icons i {
  font-size: 32px;
  display: inline-block;
  color: #DCFAC5;
  margin: 0 10px;
  width: 60px;
  height: 60px;
  border: 1px solid #DCFAC5;
  text-align: center;
  border-radius: 50%;
  line-height: 60px;
}

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: transparent;
  background-attachment: scroll;
  background-size: cover;
}

header.masthead .masthead-content .masthead-subheading {
  font-size: 2rem;
  letter-spacing: -0.07em;
  color: rgb(224,222,219);
}

@media (min-width:992px) {
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
    letter-spacing: -0.07em;
  }
}

@media (min-width:1002px) {
  header.masthead .masthead-content .masthead-heading {
    font-size: 6rem;
    letter-spacing: -0.03em;
  }
}

.display-4 {
  font-family: 'Nunito';
  font-weight: 300;
  letter-spacing: -0.08em;
  color: #DCFAC5;
  border-top-style: dotted;
  border-top-color: #12C4FF;
  -letter-kern: -letter-pairs('Wh': .5px, 'ho': 1px, 'ha': 1px, 'at': 1.5px, 'he': 1.5px, 'en': 1.5px, 'er': 1.5px, 're': 1.5px, 'hy': 1.5px, );
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Nunito';
  font-weight: 200;
  line-height: 98%;
  color: #DCFAC5;
}

.mb-0, .my-0 {
  margin-bottom: 0!important;
  font-family: 'Nunito';
  line-height: .75em;
  -letter-kern: -letter-pairs('Ye': -13px, 'es': -3px, 'we': -4px, 'ca': -1px, 'an': -3px, 'do': -3px, 'ha': -3px, 'at': -2px, '! ': -6px, 'n ': -6px, 'e ': -6px, 'o ': -6px, );
}

.mb-1 {
  margin-bottom: 0!important;
  font-family: 'Nunito';
  line-height: .75em;
}

body {
  font-family: Lato;
  background-color: #10AADE;
}

.navbar-custom {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(23,162,184,0.54);
}

.bg-black {
  background-color: #045172!important;
}

.masthead-heading {
  color: rgb(224,222,219);
  font-family: 'Varela Round', sans-serif;
  opacity: 1;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #10AADE;
  -webkit-font-smoothing: subpixel-antialiased !important;
  text-rendering: optimizeLegibility !important;
}

html {
}

